@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
/* 기본값 초기화 */
html {
  font-size: 6.25%;
}

body {
  background-color: #f0ede6;
  font-family: "Libre Baskerville", "Noto Sans KR", serif;
}

h1, h2, h3, p, figure, body, video {
  margin: 0;
}

* {
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

p, b, h2 {
  white-space: pre-line;
}

ul, li {
  /* 앞에*모양과 빈공간 잡히는거 삭제 */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  /* 폰트와 이미지 겹칠때 아래에 빈공간 생기는거 삭제 */
  vertical-align: middle;
}

figure, figcaption {
  margin: 0;
}

button {
  border: none;
  background-color: none;
}

.backimg {
  position: relative;
}
.backimg img {
  position: absolute;
}

.r {
  display: flex;
}
.r > :nth-child(1) {
  order: 2;
}

.shop {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3vw;
}
.shop a {
  color: black;
}
.shop a > figure {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.shop a > figure > img {
  transition: 0.7s;
}
.shop a > figure img:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.shop a > figure img:nth-of-type(1):hover {
  opacity: 0;
}

.bt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.bt p {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 1vw;
  background-image: url(../img/button.png);
  width: 100%;
  height: 6vw;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  position: fixed;
  right: 2vw;
  bottom: 3vw;
  font-size: 1.5vw;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
}
.top::before {
  display: block;
  content: "expand_less";
  font-family: material symbols outlined;
}

main .tun {
  animation: tun 1s forwards;
}
main .in {
  animation: in 1s forwards;
}
main .tr p {
  animation: tr 15s infinite linear;
}

@keyframes tun {
  0%, 50% {
    transform: rotate(-90deg);
    opacity: 0%;
  }
  100% {
    transform: rotate(0deg);
    opacity: 100%;
  }
}
@keyframes in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes tr {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-180%);
  }
}
.maxb img {
  transform: scale(0);
  animation: txt 0.3s forwards;
}
.maxb img:nth-of-type(2) {
  animation-delay: 0.2s;
}
.maxb img:nth-of-type(1) {
  animation-delay: 0.4s;
}

@keyframes txt {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
footer > div:nth-of-type(1) {
  animation: footup 1s infinite;
}

@keyframes footup {
  0%, 50% {
    transform: translateY(-80%);
  }
  51%, 100% {
    transform: translateY(-60%);
  }
}
.backic {
  width: 100%;
}
.backic img {
  position: absolute;
  z-index: 10;
}
.backic img:hover {
  transform: rotate(40deg);
}
.backic img:nth-of-type(1) {
  top: 2vw;
  left: 20vw;
}
.backic img:nth-of-type(2) {
  top: 25vw;
  right: 2vw;
}
.backic img:nth-of-type(3) {
  top: 40vw;
  left: 5vw;
}
.backic img:nth-of-type(4) {
  top: 105vw;
  right: 5vw;
}
.backic img:nth-of-type(5) {
  top: 260vw;
  left: -7vw;
}

.maxb {
  position: absolute;
  top: 315vw;
  left: 15vw;
  width: 10%;
}

.bt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.bt p {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 1vw;
  background-image: url(../img/button.png);
  width: 100%;
  height: 6vw;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  position: fixed;
  right: 2vw;
  bottom: 3vw;
  font-size: 1.5vw;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  flex-direction: column;
}
.top::before {
  display: block;
  content: "expand_less";
  font-family: material symbols outlined;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vw;
  padding: 0 3%;
}
header img {
  width: 12vw;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.5s;
}
header nav {
  z-index: 5;
}
header nav > ul {
  display: flex;
}
header nav > ul li {
  width: 150%;
  position: relative;
}
header nav > ul li:hover:nth-of-type(1) .n_bradns {
  display: block;
}
header nav > ul li:hover:nth-of-type(2) .n_outdoor {
  display: block;
}
header nav > ul li:hover:nth-of-type(3) .n_indoor {
  display: block;
}
header nav > ul li > a {
  padding: 0 1.5vw;
  line-height: 2.3vw;
  display: inline;
  font-size: 1.2vw;
  font-weight: bolder;
  transition: 0.5s;
  color: black;
}
header nav > ul li > a:nth-of-type(1):hover .n_bradns {
  opacity: 100%;
}
header .n_bradns,
header .n_outdoor,
header .n_indoor {
  position: absolute;
  top: 2vw;
  left: 0;
  background-color: black;
  font-weight: bold;
  padding: 0.8vw 0;
  display: none;
  width: 100%;
}
header .n_bradns a,
header .n_outdoor a,
header .n_indoor a {
  color: white;
  font-size: 0.9vw;
}

main {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
main article {
  margin-bottom: 10vw;
  /* all */
  width: 80%;
  white-space: pre-line;
  text-align: center;
}
main article h2 {
  font-size: 4.5vw;
}
main article div {
  width: 100%;
}
main article div img {
  width: 50%;
}
main article div figure {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main article div figure figcaption {
  font-size: 1vw;
  font-weight: 600;
}
main > article:nth-of-type(1) h2 {
  width: 100%;
  font-size: 7vw;
  margin: 0;
  position: absolute;
  top: 4vw;
  left: 50%;
  transform: translatex(-50%);
  z-index: 2;
}
main > article:nth-of-type(1) figure {
  margin-top: 15vw;
}
main > article:nth-of-type(1) figure img {
  width: 70%;
}
main > article:nth-of-type(1) figure figcaption p {
  font-weight: 600;
  font-size: 1vw;
  margin: 3vw 0 2vw;
}
main > article:nth-of-type(2) {
  gap: 10vw;
}
main > article:nth-of-type(2) video {
  margin: 10vw 0 6vw;
}
main > article:nth-of-type(2) div {
  display: flex;
}
main > article:nth-of-type(2) div:nth-of-type(2) img:nth-of-type(1) {
  width: 7%;
  top: 0;
  left: 50vw;
}
main > article:nth-of-type(2) div:nth-of-type(2) img:nth-of-type(2) {
  width: 7%;
  top: 5vw;
  left: 5vw;
}
main > article:nth-of-type(2) div:nth-of-type(2) img:nth-of-type(3) {
  width: 23%;
  top: 3vw;
  right: 18vw;
}
main > article:nth-of-type(2) div:nth-of-type(2) img:nth-of-type(4) {
  width: 9%;
  top: 5vw;
  right: 8vw;
}
main > article:nth-of-type(2) div:nth-of-type(2) img:nth-of-type(5) {
  width: 7%;
  top: 30vw;
  right: -2.5vw;
  z-index: -1;
}
main > article:nth-of-type(2) div:nth-of-type(2) img:nth-of-type(6) {
  width: 7%;
  bottom: 0;
  right: 20vw;
}
main > article:nth-of-type(2) div figcaption p {
  margin: 1vw 0 0.5vw;
}
main > article:nth-of-type(2) div:nth-of-type(5) > img:nth-of-type(2) {
  width: 30%;
  position: absolute;
  top: 335vw;
  right: -10vw;
}
main > article:nth-of-type(2) div:nth-of-type(5) > img:nth-of-type(3) {
  width: 10%;
  position: absolute;
  top: 355vw;
  right: 18vw;
}
main > article:nth-of-type(3) {
  width: 100%;
  overflow: hidden;
}
main > article:nth-of-type(3) div div {
  margin-left: 10vw;
}
main > article:nth-of-type(3) div div a > figure img {
  width: 23vw;
}
main > article:nth-of-type(3) div div a > figure figcaption {
  text-align: left;
  font-size: 0.9vw;
}
main > article:nth-of-type(3) div button {
  font-family: "material symbols outlined";
  font-size: 6vw;
  background-color: #f0ede6;
}
main > article:nth-of-type(3) div button:nth-of-type(1):before {
  content: "arrow_left_alt";
}
main > article:nth-of-type(3) div button:nth-of-type(2):after {
  content: "arrow_right_alt";
}
main hr {
  width: 100%;
  border-top: 0.1vw solid black;
}
main .tr {
  width: 100%;
  overflow: hidden;
}
main .tr p {
  font-size: 7vw;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  white-space: nowrap;
  white-space: pre;
  padding: 2vw 0;
}
main article:nth-of-type(4) {
  margin-top: 5vw;
}
main article:nth-of-type(4) div {
  display: block;
  position: relative;
  margin-top: 3vw;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 72%;
  height: 65vw;
}
main article:nth-of-type(4) div a {
  display: block;
  position: absolute;
  color: black;
}
main article:nth-of-type(4) div a figure {
  display: flex;
  justify-content: normal;
  align-items: flex-start;
  width: 25vw;
}
main article:nth-of-type(4) div a figure img {
  width: 100%;
}
main article:nth-of-type(4) div a figure > figcaption {
  text-align: left;
}
main article:nth-of-type(4) div a figure > figcaption b {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3vw;
}
main article:nth-of-type(4) div > a:nth-of-type(1) {
  top: 0;
  left: 0;
}
main article:nth-of-type(4) div > a:nth-of-type(2) {
  top: 10vw;
  right: 0;
}
main article:nth-of-type(4) div > a:nth-of-type(3) {
  bottom: 0;
  left: 0;
}
main article:nth-of-type(4) .bt > p::before {
  font-family: "material symbols outlined";
  content: "add";
  font-size: 1.5vw;
  margin-right: 0.5vw;
}
main article:nth-of-type(5) {
  margin-top: 3vw;
}
main article:nth-of-type(5) h2 {
  font-size: 3.5vw;
}
main article:nth-of-type(5) div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main article:nth-of-type(5) div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 18vw;
  overflow: hidden;
}
main article:nth-of-type(5) div a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: black;
  width: 100%;
  margin-top: 20vw;
  position: relative;
}
footer > div:nth-of-type(1) {
  top: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform: translateY(-60%);
}
footer > div:nth-of-type(2) {
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding-top: 5vw;
}
footer > div:nth-of-type(2) > div:nth-of-type(1) {
  width: 50%;
}
footer > div:nth-of-type(2) > div:nth-of-type(1) > a {
  font-size: 3vw;
  font-weight: bold;
  display: block;
  padding: 1vw 0;
  color: white;
}
footer > div:nth-of-type(2) > div:nth-of-type(1) > p {
  color: white;
}
footer > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(1) {
  font-size: 1vw;
  font-weight: bold;
  padding: 1vw 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(1)::after {
  content: "expand_more";
  font-family: material symbols outlined;
}
footer > div:nth-of-type(2) > div:nth-of-type(1) p:nth-of-type(1),
footer > div:nth-of-type(2) > div:nth-of-type(1) p:nth-of-type(3) {
  font-family: "Libre Baskerville", serif;
}
footer > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(2) {
  white-space: pre-line;
  color: #666;
  line-height: 1vw;
  font-size: 0.8vw;
}
footer > div:nth-of-type(2) > div:nth-of-type(1) > p:nth-of-type(3) {
  font-size: 1.3vw;
  margin: 4vw 0;
  color: #666;
}
footer > div:nth-of-type(2) div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 50%;
}
footer > div:nth-of-type(2) div:nth-of-type(2) nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > div:nth-of-type(2) div:nth-of-type(2) nav a {
  font-size: 1.3vw;
  font-weight: bold;
  padding: 0 1vw;
  color: white;
}