

.tun{
    animation: tun 1s forwards;
}

@keyframes tun{
    0%,50%{transform: rotate(-90deg);
    opacity: 0%;}
    100%{transform: rotate(0deg);
    opacity: 100%;}
}

.in{
    animation: in 1s forwards;
}

@keyframes in{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}


.tr{p{animation: tr 15s infinite linear;}}

@keyframes tr{
    0%{transform: translateX(0%);}
    100%{transform: translateX(-180%);}
}


.cotie{
    img{
        &:nth-of-type(1){
            animation: cotl 0.5s forwards;
        }
        &:nth-of-type(3){
            animation: cotr 0.5s forwards;

        }
    }
}

@keyframes cotl{
    0%{transform: translateX(100%) rotate(-20deg);}
    100%{transform: translateX(0) rotate(-20deg);}
}

@keyframes cotr{
    0%{transform: translateX(-100%)rotate(-20deg);}
    100%{transform: translateX(0)rotate(-20deg);}
}


.maxb{
    img{
        transform:scale(0);
        animation: txt 0.3s forwards;

        &:nth-of-type(2){
            animation-delay: 0.2s;
        }
        &:nth-of-type(1){
            animation-delay: 0.4s;
        }
    }
}

@keyframes txt{
    0%{transform:scale(0)}
100%{transform:scale(1)}
}

.footan{
        animation: footup 1s infinite;

}

@keyframes footup{
    0%,50%{transform: translateY(10%);}
    51%,100%{transform: translateY(0);}    
}

.line{
    &::after{
        animation: pline 0.5s forwards;
    }
}

@keyframes pline{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}
