
main{
    article:nth-of-type(1){
        figure{
            img{
                animation: tun 1s forwards;
            }
        }
    }   
    

    article:nth-of-type(3){
        div{
            animation: in 1s forwards;
        }
    }


    .tr{p{animation: tr 15s infinite linear;}}
}

@keyframes tun{
    0%,50%{transform: rotate(-90deg);
    opacity: 0%;}
    100%{transform: rotate(0deg);
    opacity: 100%;}
}

@keyframes in{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}

@keyframes tr{
    0%{transform: translateX(0%);}
    100%{transform: translateX(-180%);}
}


.maxb{
    img{
        transform:scale(0);
        animation: txt 0.3s forwards;

        &:nth-of-type(2){
            animation-delay: 0.2s;
        }
        &:nth-of-type(1){
            animation-delay: 0.4s;
        }
    }
}

@keyframes txt{
    0%{transform:scale(0)}
100%{transform:scale(1)}
}

footer{
    >div:nth-of-type(1){
            animation: footup 1s infinite;
    }
}

@keyframes footup{
    0%,50%{transform: translateY(-80%);}
    51%,100%{transform: translateY(-60%);}    
}