
$note : '1024px';
$moba : '540px';

//moba
@media (max-width:$moba) {
    #soshic{
        article{
            div:nth-of-type(1){
                margin-bottom: 5vw;
            }
        }
    }
    h2{margin-bottom: 0;}

    .ivt{
        height: 250vw!important;
        a{
            width: 70%!important;
            b{
                font-size: 5vw!important;
            }
        }
    }
    .dil{display: none !important;}
    article{
        h2{
            font-size: 10vw !important;
            br{
                display: block;
            }
        }
    }
    .mainimg{
        width: 90%;
    }
    header{
        a>img{width: 30vw;}
        .nav_pc{
        display: none;

        }
        .nav_no{
            display: block;
            >p::after{
                font-size: 10vw !important;
            }
        }
        height: 18vw;
    }
    .bt{
        p{
            height: 18vw;
            font-size: 3.5vw !important;
        }
    }
    .figup{
        flex-direction: column;
        >img{width: 100%!important;}
        figcaption{
            
            b{font-size: 6vw !important;
                font-weight: 600 !important;}
            p{font-size: 4vw !important;
                font-weight: 500 !important;}
        }
    }
    b{font-size: 6vw !important;}
    p{
        font-size: 4vw!important;
    }
    .r{
        >:nth-child(1){
        order: 0;  
        }
    }
    
    .maxb{
        display: none !important;
    }
    .v2 {
        width: 80%;
    }
    .hand{
        display: none;
    }

    .shop{ 
        @include flex (space-between,flex-start);
        padding: 5vw;
        margin: 0;
        flex-wrap: wrap;
        a{
            width: 45% !important;
            figure{
                img{width:100%}
                figcaption{
                    b{font-size: 5vw!important;}
                    p{font-size: 4vw!important;
                    font-weight: 400!important;}
                }
            }
            
        }

    }
    .backic{
        display: none;
    }
    footer{
        >div:nth-of-type(2){
            width: 90% !important;
            nav{
                >a{
                    .dic{display: block;}
                    p{display: none;}
                }
            }
        }
        .futa{
            a{
                font-size: 5vw !important;

            }
        }
        
    }
    .fota{
        b{font-size: 8vw!important;}
        p{font-size: 4vw!important;}
    }
}


// note
@media (min-width:$moba) and (max-width:$note)
{   
    .ivt{
        height:90vw !important;
        figure{
            width: 100% !important;
        }
    }

    h2{
        br{
            display: none;
        }
    }
    header{
        .nav_pc{
        display: none;

        }
        .nav_no{
            display: block;
        }
    }

    .hand{
        img:nth-of-type(1){
            width: 60%!important;
            right: -35vw!important;
            top:-20vw!important;
        }
        img:nth-of-type(2){
            width: 10%!important;
            right: 1vw;
        }
    }
    .figup{
        width: 90% !important;
    }
    .mainimg{
        width: 90%;
    }
    .backimg >.tower{
        display: none;
    }
    
    .backimg{
        width:40vw;
    }

    footer{
        >div:nth-of-type(2){
            width: 90% !important;
            nav{
                >a{
                    .dic{display: none;}
                    p{display: block;}
                }
            }
        }
    }
}

// pc
@media (min-width:$note) {
    h2{
        br{
            display: none;
        }
    }
    header{
        .nav_pc{
            display: block;
        
        }
        .nav_no{
                display: none;
        }
    }
    .mainimg{
        width: 60%;
    }
    .backimg >.tower{
        display: block;
    }
    footer{
        >div:nth-of-type(2){
            width: 90% !important;
            nav{
                >a{
                    .dic{display: none;}
                    p{display: block;}
                }
            }
        }
    }

}