@import '_reset';
@import '_mixin';
@import '_anima';
@import '_midia';


main {
    margin: 0 auto;
    position: relative;

    article {
        &:nth-of-type(1) {
            >h2 {
                font-size: 5vw;
                text-align: center;
                margin: 5vw;
            }

            >div {
                position: relative;
                width: 95%;
                margin: 0 auto;

                &:nth-of-type(1) {
                    @include flex(center, stretch);
                    gap: 5vw;
                    width: 90%;

                    .r {
                        flex-direction: column;
                    }

                    figure {
                        img {
                            width: 90%
                        }
                    }

                    figcaption {

                        b {
                            line-height: 1.5;
                            font-size: 1.8vw;
                        }

                        p {
                            line-height: 1.5;
                            font-size: 1.2vw;
                        }
                    }

                    div:nth-of-type(1) {
                        figcaption {
                            padding-bottom: 20vw;
                            margin-top: 10vw;
                        }
                    }

                    div:nth-of-type(2) {
                        figcaption {
                            padding-top: 10vw;
                            margin-bottom: 10vw;
                        }
                    }
                }


                &:nth-of-type(2) {
                    @include flex();
                    text-align: center;
                    margin-top: 10vw;
                    figure{
                        img{
                            width: 100%;
                        }
                    }

                    b {
                        display: inline-block;
                        font-size: 2.3vw;
                        padding: 5vw 0 2vw;
                    }

                    p {
                        font-size: 1.1vw;
                        font-weight: 600;
                    }
                }
            }

            .backimg {
                img {
                    &:nth-of-type(1) {
                        top: 26vw;
                        left: 10vw;
                        width: 10%;
                    }

                    &:nth-of-type(2) {
                        top: 34vw;
                        right: 30vw;
                        width: 5%;
                    }

                    &:nth-of-type(3) {
                        top: 36vw;
                        right: 15vw;
                        width: 10%;
                    }

                    &:nth-of-type(4) {
                        top: 70vw;
                        right: 5vw;
                        width: 5%;
                    }

                    &:nth-of-type(5) {
                        top: 75vw;
                        left: 8vw;
                        width: 10%;
                    }
                }

            }
        }

        &:nth-of-type(2) {
            text-align: center;
            margin-top: 13vw;

            img {
                width: 55%;
                margin: 7vw 0 20vw;
            }

            h2 {
                font-size: 7vw;
            }
        }


        &:nth-of-type(3) {
            text-align: center;
            position: relative;

            .backimg>img {
                &:nth-of-type(1) {
                    width: 10%;
                    top: -8vw;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &:nth-of-type(2) {
                    top: -8vw;
                    left: -10%;
                    width: 40%;
                }
            }

            h2 {
                font-size: 5vw;
            }

            b {
                font-size: 2vw;
            }

            div:nth-of-type(2) {
                ul {
                    margin: 3vw 0;

                    li {
                        font-family: 'Noto Sans KR';
                        font-weight: bolder;
                        font-size: 1.5vw;

                        b {
                            display: block;
                            font-size: 2vw;
                            padding: 1vw 0;
                        }

                        p {
                            padding: 1vw 0;
                        }

                        &::after {
                            content: '';
                            display: block;
                            width: 28%;
                            margin: 0 auto;
                            height: 1vw;
                            background: url(../img/cotie-profile-line.jpg) no-repeat center center;
                        }

                    }
                }
            }

            div:nth-of-type(3) {
                @include flex();
                margin: 10vw 0 25vw;

                img {
                    width: 28%;

                    &:nth-of-type(1) {
                        z-index: -1;
                    }

                }
            }
        }

        /* a3 */


        &:nth-of-type(4) {
            margin-bottom: 10vw;
            position: relative;
            text-align: center;

            h2 {
                font-size: 5vw;
            }

            .backimg {
                img {
                    width: 10%;
                    top: -8vw;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            >img {
                max-width: 90%;
            }

            >div {
                max-width: 80%;
                margin: 4vw auto 5vw;
                gap: 10vw;

                div {

                    >b {
                        display: block;
                        font-size: 1.8vw;
                        font-weight: bold;
                        margin-bottom: 2vw;
                    }

                    li {
                        padding-left: 1vw;
                        position: relative;
                        font-family: "Noto Sans KR";

                        &::before {
                            content: '';
                            position: absolute;
                            top: 1vw;
                            left: -0.3vw;
                            width: 0.4vw;
                            height: 0.3vw;
                            background-color: black;

                        }

                        margin-bottom: 1.2vw;

                        b {
                            font-size: 1.3vw;
                        }

                        p {
                            font-size: 1.1vw;
                            font-weight: 500;
                            padding: 0.3vw;
                        }

                    }

                }

                text-align: start;
                @include flex(flex-start, normal);
            }

            .bt {
                p {
                    background-image: url(../img/button.png);
                }
            }
        }

    }

    /* article */

}

/* main */
