@import "_reset";
@import "_mixin";
@import "_anima";
@import "_midia";




.backic {
    position: relative;
    width: 100%;
    z-index: 5;

    >img {
        width: 12%;

        &:nth-of-type(1) {
            z-index: 3;
            top: 6vw;
            left: 20vw;
        }

        &:nth-of-type(2) {
            top: 25vw;
            right: 2vw
        }

        &:nth-of-type(3) {
            top: 40vw;
            left: 5vw
        }

        &:nth-of-type(4) {
            top: 105vw;
            right: 5vw;
        }

        &:nth-of-type(5) {
            top: 260vw;
            left: -7vw;
            width: 30%;
        }

    }

}


main {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    @include flex();
    padding-bottom: 10vw;

    article {
        margin-bottom: 10vw;
        /* all */
        width: 80%;
        white-space: pre-line;
        text-align: center;

        h2 {
            font-size: 4.5vw;
            margin-bottom: 5vw;
        }

        div {

            img {
                width: 50%;
            }

            figure {

                flex-grow: 1;
                @include flex(center);
                flex-direction: column;

                figcaption {
                    font-size: 1vw;
                    font-weight: 600;
                }
            }
        }
    }


    >article:nth-of-type(1) {
        position: relative;

        h2 {
            width: 150%;
            font-size: 7vw;
            margin: 0;
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translatex(-50%);
            z-index: 2;
        }

        figure {
            img {
                width: 70%;
            }

            margin-top: 15vw;

            figcaption {
                p {
                    font-weight: 600;
                    font-size: 1vw;
                    margin: 3vw 0 2vw;
                }
            }
        }
    }


    >article:nth-of-type(2) {
        gap: 10vw;

        video {
            margin: 0 auto 6vw;
        }

        >div {
            display: flex;

            &:nth-of-type(2) {
                position: relative;

                img {
                    &:nth-of-type(1) {
                        width: 7%;
                        top: 0;
                        left: 50vw;
                    }

                    &:nth-of-type(2) {
                        width: 7%;
                        top: 5vw;
                        left: 5vw;
                    }

                    &:nth-of-type(3) {
                        width: 23%;
                        top: 3vw;
                        right: 18vw;
                    }

                    &:nth-of-type(4) {
                        width: 9%;
                        top: 5vw;
                        right: 8vw;
                    }

                    &:nth-of-type(5) {
                        width: 7%;
                        top: 30vw;
                        right: -2.5vw;
                        z-index: -1;
                    }

                    &:nth-of-type(6) {
                        width: 7%;
                        bottom: 0;
                        right: 20vw;
                    }
                }
            }

            &:nth-of-type(3),
            &:nth-of-type(5) {
                >img {
                    margin-bottom: 10vw;
                }
            }

            figcaption {
                p {
                    margin: 1vw 0 0.5vw;
                }
            }

            &:nth-of-type(4) {
                position: relative;

                .maxb {
                    display: flex;
                    position: absolute;
                    top: 30%;
                    left: 7vw;
                    width: 10%;
                }
            }

            &:nth-of-type(5) {
                position: relative;

                .hand {
                    width: 0;

                    img:nth-of-type(1) {
                        width: 30%;
                        position: absolute;
                        top: -10vw;
                        right: -17vw;
                    }

                    img:nth-of-type(2) {
                        width: 10%;
                        position: absolute;
                        top: 5vw;
                        right: 3vw;
                    }
                }
            }
        }
    }


    >article:nth-of-type(3) {
        width: 100%;
        overflow: hidden;
        white-space: inherit;

        div {
            div {
                a {
                    width: 23%;

                    figure {
                        figcaption {
                            text-align: left;
                            font-size: 0.9vw;
                        }
                    }
                }
            }
        }

    }


    hr {
        width: 100%;
        border-top: 0.1vw solid black;
    }

    .tr {
        width: 100%;
        overflow: hidden;

        p {
            font-size: 7vw;
            font-weight: bold;
            font-family: 'Libre Baskerville', serif;
            white-space: nowrap;
            white-space: pre;
            padding: 2vw 0;
        }
    }


    article:nth-of-type(4) {
        margin-top: 5vw;

        div {
            display: block;
            position: relative;
            margin-top: 3vw;
            top: 0;
            left: 50%;
            transform: translatex(-50%);
            width: 80%;
            height: 90vw;

            a {
                width: 48%;
                display: block;
                position: absolute;
                color: black;
                overflow: hidden;

                figure {
                    margin-top: 0;
                    @include flex(normal, flex-start);
                    width: 100%;
                    transition: 1s;
                    opacity: 0;
                    transform: translateY(100%);
                    img {
                        width: 100%;
                    }

                    >figcaption {
                        text-align: left;

                        b {
                            font-family: 'Noto Sans KR', sans-serif;
                            font-size: 1.3vw;
                        }
                    }
                    
                }

                &.on{
                    figure{
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }

            >a:nth-of-type(1) {
                top: 0;
                left: 0;
            }

            >a:nth-of-type(2) {
                top: 30%;
                right: 0;
                margin: 0;
            }

            >a:nth-of-type(3) {
                bottom: 0;
                left: 0;
            }

        }

        .bt>p::before {
            font-family: "material symbols outlined";
            content: 'add';
            font-size: 1.5vw;
            margin-right: 0.5vw;
        }
    }


    article:nth-of-type(5) {
        margin-top: 3vw;

        h2 {
            font-size: 3.5vw
        }

        div {
            @include flex(space-between);

            a {
                @include flex();
                width: 23%;
                height: 18vw;
                overflow: hidden;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

}