@import "_reset";
@import "_mixin";
@import "_anima";


.backic {
    width: 100%;

    img {
        position: absolute;
        z-index: 10;

        &:hover {
            transform: rotate(40deg);
        }

        &:nth-of-type(1) {
            top: 2vw;
            left: 20vw;
        }

        &:nth-of-type(2) {
            top: 25vw;
            right: 2vw
        }

        &:nth-of-type(3) {
            top: 40vw;
            left: 5vw
        }

        &:nth-of-type(4) {
            top: 105vw;
            right: 5vw;
        }

        &:nth-of-type(5) {
            top: 260vw;
            left: -7vw;
        }

    }

}

.maxb {
    position: absolute;
    top: 315vw;
    left: 15vw;
    width: 10%;
}


header {
    position: relative;
    @include flex(space-between, );
    width: 100%;
    height: 8vw;
    padding: 0 3%;

    img {
        width: 12vw;
        object-fit: contain;
        transition: 0.5s;
    }

    nav {
        z-index: 5;

        >ul {
            display: flex;

            li {
                width: 150%;
                position: relative;

                &:hover:nth-of-type(1) .n_bradns {
                    display: block;
                }

                &:hover:nth-of-type(2) .n_outdoor {
                    display: block;
                }

                &:hover:nth-of-type(3) .n_indoor {
                    display: block;
                }

                >a {
                    padding: 0 1.5vw;
                    line-height: 2.3vw;
                    display: inline;
                    font-size: 1.2vw;
                    font-weight: bolder;
                    transition: 0.5s;
                    color: black;

                    &:nth-of-type(1):hover .n_bradns {
                        opacity: 100%;
                    }
                }
            }

        }
    }

    .n_bradns,
    .n_outdoor,
    .n_indoor {
        position: absolute;
        top: 2vw;
        left: 0;
        background-color: black;
        font-weight: bold;
        padding: 0.8vw 0;
        display: none;
        width: 100%;

        a {
            color: white;
            font-size: 0.9vw;
        }
    }

}


main {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    @include flex();

    article {
        margin-bottom: 10vw;
        /* all */
        width: 80%;
        white-space: pre-line;
        text-align: center;

        h2 {
            font-size: 4.5vw;
        }

        div {
            width: 100%;

            img {
                width: 50%;
            }

            figure {
                flex-grow: 1;
                @include flex(center);
                flex-direction: column;

                figcaption {
                    font-size: 1vw;
                    font-weight: 600;
                }
            }
        }
    }


    >article:nth-of-type(1) {
        h2 {
            width: 100%;
            font-size: 7vw;
            margin: 0;
            position: absolute;
            top: 4vw;
            left: 50%;
            transform: translatex(-50%);
            z-index: 2;
        }

        figure {
            img {
                width: 70%;
            }

            margin-top: 15vw;

            figcaption {
                p {
                    font-weight: 600;
                    font-size: 1vw;
                    margin: 3vw 0 2vw;
                }
            }
        }
    }


    >article:nth-of-type(2) {
        gap: 10vw;

        video {
            margin: 10vw 0 6vw;
        }

        div {
            display: flex;

            &:nth-of-type(2){
                img{
                    &:nth-of-type(1){
                        width: 7%;
                        top:0; left: 50vw;
                    }
                    &:nth-of-type(2){
                        width: 7%;
                        top: 5vw; left: 5vw;
                    }
                    &:nth-of-type(3){
                        width: 23%;
                        top: 3vw; right: 18vw;
                    }
                    &:nth-of-type(4){
                        width: 9%;
                        top:5vw; right: 8vw;
                    }
                    &:nth-of-type(5){
                        width: 7%;
                        top: 30vw; right: -2.5vw;
                        z-index: -1;
                    }
                    &:nth-of-type(6){
                        width: 7%;
                        bottom: 0; right: 20vw;
                    }
                }
            }

            figcaption {
                p {
                    margin: 1vw 0 0.5vw;
                }
            }

            &:nth-of-type(5) {
                >img {
                    &:nth-of-type(2) {
                        width: 30%;
                        position: absolute;
                        top:335vw; right: -10vw;
                    }

                    &:nth-of-type(3) {
                        width: 10%;
                        position: absolute;
                        top:355vw; right: 18vw;
                    }
                }
            }
        }
    }


        >article:nth-of-type(3) {
            width: 100%;
            overflow: hidden;

            div {
                div {
                    margin-left: 10vw;
                    a {
                        >figure {
                            img {
                                width: 23vw;
                            }

                            figcaption {
                                text-align: left;
                                font-size: 0.9vw;
                            }
                        }
                    }
                }

                button {
                    font-family: "material symbols outlined";
                    font-size: 6vw;
                    background-color: #f0ede6;

                    &:nth-of-type(1):before {
                        content: 'arrow_left_alt';
                    }

                    &:nth-of-type(2):after {
                        content: 'arrow_right_alt';
                    }
                }
            }

        }


        hr {
            width: 100%;
            border-top: 0.1vw solid black;
        }

        .tr {
            width: 100%;
            overflow: hidden;

            p {
                font-size: 7vw;
                font-weight: bold;
                font-family: 'Libre Baskerville', serif;
                white-space: nowrap;
                white-space: pre;
                padding: 2vw 0;
            }
        }


        article:nth-of-type(4) {
            margin-top: 5vw;
            div {
                display: block;
                position: relative;
                margin-top: 3vw;
                top: 0;
                left: 50%;
                transform: translatex(-50%);
                width: 72%;
                height: 65vw;

                a {
                    display: block;
                    position: absolute;
                    color: black;

                    figure {
                        @include flex(normal, flex-start);
                        width: 25vw;

                        img {
                            width: 100%;
                        }

                        >figcaption {
                            text-align: left;

                            b {
                                font-family: 'Noto Sans KR', sans-serif;
                                font-size: 1.3vw;
                            }
                        }
                    }
                }

                >a:nth-of-type(1) {
                    top: 0;
                    left: 0;
                }

                >a:nth-of-type(2) {
                    top: 10vw;
                    right: 0;
                }

                >a:nth-of-type(3) {
                    bottom: 0;
                    left: 0;
                }

            }

            .bt>p::before {
                font-family: "material symbols outlined";
                content: 'add';
                font-size: 1.5vw;
                margin-right: 0.5vw;
            }
        }


        article:nth-of-type(5) {
            margin-top: 3vw;

            h2 {
                font-size: 3.5vw
            }

            div {
                @include flex(space-between);

                a {
                    @include flex();
                    width: 23%;
                    height: 18vw;
                    overflow: hidden;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

    }


footer {
    background-color: black;
    width: 100%;
    margin-top: 20vw;
    position: relative;

    >div:nth-of-type(1) {
        top:0;
        width: 100%;
        overflow: hidden;
        position: absolute;
        transform: translateY(-60%);
    }

    >div:nth-of-type(2) {
        width: 80%;
        display: flex;
        margin: 0 auto;
        padding-top: 5vw;

        >div:nth-of-type(1) {
            width: 50%;

            >a {
                font-size: 3vw;
                font-weight: bold;
                display: block;
                padding: 1vw 0;
                color: white;
            }

            >p {
                color: white;
            }

            >p:nth-of-type(1) {
                font-size: 1vw;
                font-weight: bold;
                padding: 1vw 0;
                @include flex(flex-start, );

                &::after {
                    content: 'expand_more';
                    font-family: material symbols outlined;

                }
            }

            p:nth-of-type(1),
            p:nth-of-type(3) {
                font-family: 'Libre Baskerville', serif;
            }

            >p:nth-of-type(2) {
                white-space: pre-line;
                color: #666;
                line-height: 1vw;
                font-size: 0.8vw;
            }

            >p:nth-of-type(3) {
                font-size: 1.3vw;
                margin: 4vw 0;
                color: #666;
            }
        }



        div:nth-of-type(2) {
            @include flex (flex-end, flex-start);
            width: 50%;

            nav {
                @include flex();

                a {
                    font-size: 1.3vw;
                    font-weight: bold;
                    padding: 0 1vw;
                    color: white;
                }
            }

        }
    }



}